@layer components.menu {
  .menu {
    align-items: center;
    block-size: calc(100% - 55px);
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--font-size-8);
    inline-size: 100%;
    justify-content: center;
  }

  .link {
    margin-inline-end: 0;
    text-decoration: none;
  }
}
