@layer components.menu {
  .overlay {
    background-color: transparent;
    block-size: 0;
    border: 0;
    inline-size: 0;
    inset: 0;
    interpolate-size: allow-keywords;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    transition: all var(--duration-long) var(--easing-ease-in-out) allow-discrete;

    &[open] {
      background-color: rgb(
        from var(--ui-background-light) r g b / 98%
      );
      block-size: 100dvh;
      inline-size: 100dvw;
      max-block-size: none;
      max-inline-size: none;
      opacity: 1;
      overflow-y: auto;
    }

    @starting-style {
      &[open] {
        block-size: 0;
        inline-size: 0;
        opacity: 0;
      }
    }
  }
}
