@import 'mixins';

@layer components.menu {
  .menu {
    --dropdown-menu-font-size: var(--font-size-5);
    --dropdown-menu-line-height: var(--line-height-base);
    --dropdown-menu-button-height: 54px;
    --dropdown-menu-button-width: 44px;

    padding-block: 0 var(--spacing-0-5);
  }

  .dropdown {
    @include list-clean;

    margin-block: 0.75em 0;
    margin-inline: 0;
  }

  .item {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .link {
    background-color: transparent;
    border: 0;
    color: var(--ui-text-dark);
    cursor: pointer;
    display: block;
    font-family: var(--font-family-system);
    font-size: var(--dropdown-menu-font-size);
    font-weight: var(--font-weight-bold);
    inline-size: auto;
    line-height: var(--dropdown-menu-line-height);
    margin: 0;
    padding: calc((var(--dropdown-menu-button-height) - 1lh) / 2)
      var(--spacing-2);
    position: relative;
    text-align: start;
    text-decoration: none;
    white-space: normal;
    z-index: 3;

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      color: var(--ui-text-darker);
    }

    &.has-subnav {
      margin-inline-end: var(--dropdown-menu-button-width);

      &:is(button) {
        inline-size: 100%;
        margin-inline-end: 0;
        padding-inline-end: var(--dropdown-menu-button-width);

        &::after {
          @include image-replace(
            var(--dropdown-menu-button-height),
            var(--dropdown-menu-button-width)
          );

          background-image: url('/images/mobile-arrow-down.svg');
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 19px 12px;
          content: '';
          display: inline-block;
          inset-block-start: 0;
          inset-inline-end: 0;
          position: absolute;
          vertical-align: top;
        }

        &[aria-expanded="true"] {
          &::after {
            background-image: url('/images/mobile-arrow-up.svg');
          }
        }
      }
    }
  }

  .subnav-toggle {
    @include focus();
    @include image-replace(
      var(--dropdown-menu-button-height),
      var(--dropdown-menu-button-width)
    );

    background-attachment: initial;
    background-color: initial;
    background-image: url('/images/mobile-arrow-down.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 19px 12px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    inset-block-start: 0;
    inset-inline-end: 0;
    outline-offset: 0;
    position: absolute;
    vertical-align: top;
    z-index: 2;

    &[aria-expanded='true'] {
      background-image: url('/images/mobile-arrow-up.svg');
    }
  }

  .submenu {
    --dropdown-menu-font-size: var(--font-size-4);

    background-color: rgb(from var(--ui-background-light) r g b / 98%);
    list-style: none;
    margin: 0;
    padding: 0;

    .link {
      color: var(--ui-text-dark);
      font-weight: var(--font-weight-semibold);
      padding-inline-start: var(--spacing-3);

      &:hover,
      &:focus,
      &:active {
        color: var(--ui-text-darker);
      }
    }
  }

  @media (--desktop) {
    .menu {
      --dropdown-menu-font-size: var(--base-font-size);
      --dropdown-menu-button-height: 16px;
      --dropdown-menu-button-width: 16px;

      padding-block: 0;
    }

    .item {
      margin-block-end: 0;
      position: relative;
    }

    .link {
      font-family: inherit;
      margin-inline-end: 0;
      z-index: unset;

      &.has-subnav {
        margin-inline-end: 0;
        padding-inline-end: var(--dropdown-menu-button-width);
      }
    }

    .subnav-toggle {
      background-image: url('/images/menu-arrow-right.svg');
      background-size: var(--dropdown-menu-button-width) var(--dropdown-menu-button-height);
      border: 1px solid currentColor;
      color: inherit;
      inset-block-start: 50%;
      inset-inline-end: 5px;
      transform: translateY(-50%);

      &:hover,
      &:focus-visible {
        background-color: var(--ui-background-darker);
      }

      &[aria-expanded="true"] {
        background-image: url('/images/menu-arrow-right.svg');
      }
    }

    .submenu {
      --dropdown-menu-button-height: calc(var(--spacing-3) + 2px);
      --dropdown-menu-button-width: calc(var(--spacing-3) + 2px);
      --dropdown-menu-font-size: var(--base-font-size);
      --dropdown-menu-line-height: var(--line-height-short);

      background-color: var(--ui-background-dark);
      color: var(--ui-text-lighter);
      inline-size: auto;
      inset-block-start: 100%;
      inset-inline-start: 0;
      margin-block: var(--spacing-1) 0;
      position: absolute;

      .link {
        color: currentColor;
        font-weight: var(--font-weight-regular);
        inline-size: rem-convert(200px);
        padding-block: var(--spacing-2);
        padding-inline: var(--spacing-3) calc(var(--spacing-3) + 7px);

        &:hover,
        &:focus {
          background-color: var(--ui-background-darker);
          color: currentColor;
        }
      }

      .submenu {
        inset-block-start: 0;
        inset-inline-start: 100%;
        margin-block-start: 0;
      }
    }

    .dropdown {
      @include list-inline;

      margin-block-start: 0;

      > .item {
        display: inline-block;

        > .link {
          @include link;

          display: inline-block;
          font-weight: var(--font-weight-semibold);
          margin-inline-end: var(--spacing-5);
          padding: 0;
          position: relative;
          text-transform: uppercase;

          &.has-subnav {
            padding-inline-end: 25px;

            /* stylelint-disable-next-line max-nesting-depth */
            &::after {
              background-image: url('/images/menu-arrow-down.svg');
              background-size: var(--dropdown-menu-button-width) var(--dropdown-menu-button-height);
              inset-block-start: 50%;
              inset-inline-end: 5px;
              overflow: hidden;
              transform: translateY(-40%);
            }
          }

          &:is(button) {
            @include text-button;

            inline-size: auto;
          }
        }
      }
    }
  }
}
